# Terraform dirs
.terraform.lock.hcl
.terraform/

# Terraform state 
*.tfstate
*.tfstate.*
main.backup.tfvars
secret.backend.tfvars

# Crash & plans
crash.log
crash.*
*.tfplan
plan.*

# Varfiles: игнорим
*.auto.tfvars
!nonsecret.auto.tfvars

# Секретные varfiles по маске
secret.*.tfvars
secret.auto.tfvars

# Локальные секреты/скрипты окружения
secrets.env
.secrets
.envrc

# IDE/OS
.vscode/
.idea/
.DS_Store
